/* CSS styles for the logo and search bar */
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #490e0e;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  font-family: "Almarai", "BIZ UDGothic", sans-serif;
  min-height: 100vh;
  background: var(--color-brand);
  min-height: 100vh;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.Logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Logo-img img {
  width: 20vw;
}

.logo-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 990px) {
  input[type="search"] {
    width: 88vw;
    top: 22vh;
  }
  .Logo-img img {
    width: 51vw;
    top: 20vh;
    position: relative;
  }
}