/* CSS styles for the navigation bar */

:root {
  --color-dark: #2f2f2f;
--color-light: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: var(--color-light);
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--color-dark);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* CSS styles for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
